@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="text-center text-2xl font-bold">Sign in to your account</h2>
</div>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md lg:max-w-lg">
    <form class="space-y-6" id="account" method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>
        <div>
            <label asp-for="Input.Email" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="Input.Email" type="text" class="grow" placeholder="Email" />
            </label>
            <span asp-validation-for="Input.Email" class="text-error"></span>
            
        </div>

        <div>
            <label asp-for="Input.Password" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="Input.Password" type="password" class="grow" placeholder="Password" />
            </label>
            <span asp-validation-for="Input.Password" class="text-error"></span>
            
        </div>

        <div>
            <button id="login-submit" type="submit" class="btn-block btn btn-primary">Log in <i class="fa-solid fa-right-to-bracket ps-2"></i></button>
        </div>
    </form>
    
    <div class="mt-10 text-center text-sm">
        Don't have an account? 
        <a class="link" href="/register">Sign up!</a>
    </div>
    
    <div class="mt-5 text-center text-sm">
        Forgot your password?
        <a class="link" href="/Identity/Account/ForgotPassword">Reset here.</a>
    </div>
</div>

