@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="col-span-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center xl:justify-start">
            <div class="w-full xl:w-6/12 xl:mx-auto pb-5">
                <div class="card w-100 bg-base-300 shadow-xl">
                    <div class="card-body flex flex-col items-center">
                        <i class="fa-regular fa-circle-check text-success text-3xl"></i> <!-- Adjust size and center icon -->
                        <h2 class="card-title">Your password has been reset!</h2>
                        <p class="py-10">You can now go and login!</p>
                        <div class="card-actions justify-end w-full"> <!-- Ensure actions are full width -->
                            <a class="btn btn-primary btn-block" href="/login">Login</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



