@using FairwayFinder.Core.Features.Dashboard.Models.ViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row" id="header-cards"
     hx-get="@Url.Action("GetHeaderCardsData")"
     hx-target="#header-cards"
     hx-swap="innerHTML"
     hx-trigger="load">
    @await Html.PartialAsync("Shared/_DashboardHeaderCardStats", new DashboardHeaderCardsViewModel())
</div>

<div class="row">
    @await Html.PartialAsync("Shared/_ScoresLineChartDashboard")
</div>

@*
<div class="row">
    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Recent Rounds
            </div>
            <div class="card-body">
                <div id="recent-rounds"
                    hx-get="@Url.Action("GetRounds")"
                    hx-target="#recent-rounds"
                    hx-swap="outerHTML"
                    hx-trigger="load"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Hole Score Stats
            </div>
            <div class="card-body">
                <div id="hole-score-stats"
                     hx-get="@Url.Action("GetHoleScoreStats")"
                     hx-target="#hole-score-stats"
                     hx-swap="outerHTML"
                     hx-trigger="load"></div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                Recent Rounds
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    
    
</div>
*@