@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.TeeboxFormModel

@{
    ViewData["Title"] = "Edit Teebox";
}


<div class="col-span-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center xl:justify-start">
            <div class="w-full xl:w-8/12 xl:mx-auto pb-5">
                <form hx-post="@Url.Action("AddTeebox", "TeeboxManagement", new { courseId = Model.CourseId })" hx-target="#teebox-form" hx-swap="innerHTML">
                    @await Html.PartialAsync("_TeeboxForm", Model)

                    <div class="grid grid-cols-12 gap-4 mt-3">
                        <div class="col-span-12">
                            <button type="submit" class="col-span-12 sm:col-span-6 xl:col-span-4 btn btn-primary btn-block">Update Teebox</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>