@model List<FairwayFinder.Core.Models.Teebox>

<div class="card">
    <div class="card-header">
        Tee Boxes
    </div>
    <div class="card-body">
        <ul>
            @foreach (var c in Model)
            {
                <li>
                    <a asp-action="ViewCourse" asp-route-courseId="@c.teebox_id">
                        @c.teebox_name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>