@using Newtonsoft.Json
@model FairwayFinder.Core.Features.Admin.HealthCheck.Models.ViewModels.HealthViewModel


<div class="col-span-12">
  
  @foreach (var check in Model.Entries)
  {
    <div class="collapse collapse-arrow bg-base-200 mb-3">
      <input type="radio" name="peer" /> 
      <div class="collapse-title text-xl font-medium">
        @check.Name
        
        @if (check.Status == "Unhealthy")
        {
          <div class="badge badge-error mx-3">Unhealthy</div>
        }
        else
        {
          <div class="badge badge-success mx-3">Healthy</div>
        }
        
      </div>
      <div class="collapse-content"> 
        <pre>
           @Html.Raw(check.JsonData)
       </pre>
      </div>
    </div>
  }
</div>


@*<div class="row py-4 d-flex justify-content-start align-items-center">
  <div class="col-auto">
    <h1>
      System Health
    </h1>
  </div>
  <div class="col-auto">
    @switch (Model.Status)
    {
      case null:
        <small class="mb-3 px-2 py-1 fw-semibold text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-2">
          Fetching...
        </small>
        break;
      case "Unhealthy":
        <small class="mb-3 px-2 py-1 fw-semibold text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-2">
          Unhealthy
        </small>
        break;
      default:
        <small class="mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">
          Healthy
        </small>
        break;
    }
  </div>
</div>*@