@using FairwayFinder.Core.Features.Admin.HealthCheck.Models.ViewModels


@{
    ViewData["Title"] = "System Health";
}

<div class="col-span-12">
    
    <div id="health-check-data"
         hx-get="/get-health"
         hx-target="#health-check-data"
         hx-swap="innerHTML"
         hx-trigger="load">
        
        @await Html.PartialAsync("_HealthCheckDisplay", new HealthViewModel())
    </div>
    
</div>