<!-- Navbar -->

<nav class="navbar fixed-top border-bottom bg-body-tertiary" hx-preserve="true">
    <div class="container-fluid">
        <div class="navbar-brand">
            <button class="navbar-toggler me-2 sidebar-toggle" type="button" id="sidebar-toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="text-decoration-none text-reset"> <i class="fa-solid fa-golf-ball-tee"></i> FairwayFinder</a>
        </div>
        
        <div>
            <partial name="Layout/_LoginPartial"/>
        </div>
    </div>
</nav>

