@using FairwayFinder.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-expand-md box-shadow pt-3 pb-2 border-bottom" hx-preserve="true">
    <div class="container-fluid d-flex align-items-center">
        <!-- Left side: Toggle button and title -->
        <div class="d-flex align-items-center">
            <button class="btn btn-dark d-xxl-none me-2" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#mobileSidebar"
                    aria-controls="mobileSidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="fs-4">
                @ViewData["Title"]
                @*@Html.BuildBreadcrumbNavigation()*@
            </span>
        </div>

        <!-- Right side: Login partial -->
        <div class="ms-auto d-flex align-items-center">
            <partial name="Layout/_LoginPartial"/>
        </div>
    </div>
</nav>

