@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.CourseFormModel

@await Html.PartialAsync("_MessageHtmxPartial")

<div class="form-floating mb-3">
    <input asp-for="name" type="text" class="form-control" placeholder="Course Name" autocomplete="off"/>
    <label asp-for="name"></label>
    <span asp-validation-for="name" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="address" type="text" class="form-control" placeholder="Address" autocomplete="off"/>
    <label asp-for="address"></label>
    <span asp-validation-for="address" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="phone_number" type="text" class="form-control" placeholder="Phone Number" autocomplete="off"/>
    <label asp-for="phone_number"></label>
    <span asp-validation-for="phone_number" class="text-danger"></span>
</div>

