@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.TeeboxFormModel

<div id="teebox-form">

    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="col-span-12">
            @await Html.PartialAsync("_MessageHtmxPartial")
        </div>
    </div>


    <input type="hidden" value="@Model.CourseId" asp-for="CourseId"/>

    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="md:col-span-12 col-span-12">
            <div class="label">
                <label asp-for="Name" class="label-text"></label>
            </div>
            <input asp-for="Name" type="text" class="input input-bordered w-full gap-2"/>
            <span asp-validation-for="Name" class="text-error"></span>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="md:col-span-4 col-span-12">
            <div class="label">
                <label asp-for="Par" class="label-text"></label>
            </div>
            <input asp-for="Par" type="text" class="input input-bordered w-full gap-2"/>
            <span asp-validation-for="Par" class="text-error"></span>
        </div>

        <div class="md:col-span-4 col-span-12">
            <div class="label">
                <label asp-for="Slope" class="label-text"></label>
            </div>
            <input asp-for="Slope" type="text" class="input input-bordered w-full gap-2"/>
            <span asp-validation-for="Slope" class="text-error"></span>
        </div>

        <div class="md:col-span-4 col-span-12">
            <div class="label">
                <label asp-for="Rating" class="label-text"></label>
            </div>
            <input asp-for="Rating" type="text" class="input input-bordered w-full gap-2"/>
            <span asp-validation-for="Rating" class="text-error"></span>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="md:col-span-4 col-span-12">
            <div class="label">
                <label asp-for="YardageOut" class="label-text"></label>
            </div>
            <input id="yardage-out" asp-for="YardageOut" type="text" class="input input-bordered w-full gap-2"/>
            <span asp-validation-for="YardageOut" class="text-error"></span>
        </div>
        
        @if (Model.IsNineHoles)
        {
            <div class="md:col-span-4 col-span-12">
                <div class="label">
                    <label asp-for="YardageIn" class="label-text"></label>
                </div>
                <input id="yardage-in" asp-for="YardageIn" type="text" class="input input-bordered w-full gap-2" disabled="disabled" value="0"/>
                <span asp-validation-for="YardageIn" class="text-error"></span>
            </div>
        }
        else
        {
            <div class="md:col-span-4 col-span-12">
                <div class="label">
                    <label asp-for="YardageIn" class="label-text"></label>
                </div>
                <input id="yardage-in" asp-for="YardageIn" type="text" class="input input-bordered w-full gap-2" />
                <span asp-validation-for="YardageIn" class="text-error"></span>
            </div>
        }
        

        <div class="md:col-span-4 col-span-12">
            <div class="label">
                <label asp-for="Yardage" class="label-text"></label>
            </div>
            <input id="yardage" asp-for="Yardage" type="text" class="input input-bordered w-full gap-2" disabled="disabled"/>
            <span asp-validation-for="Yardage" class="text-error"></span>
        </div>
        
        <div class="md:col-span-2 col-span-2">
            <div class="form-control">
                <label class="label cursor-pointer">
                    <label asp-for="IsNineHoles" class="label-text"></label>
                    <input asp-for="IsNineHoles" type="checkbox" class="checkbox"/>
                </label>
            </div>
        </div>

        <div class="md:col-span-2 col-span-2">
            <div class="form-control">
                <label class="label cursor-pointer">
                    <label asp-for="IsWomenTees" class="label-text"></label>
                    <input asp-for="IsWomenTees" type="checkbox" class="checkbox"/>
                </label>
            </div>
        </div>
        
        
    </div>
</div>
