@using FairwayFinder.Core.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FairwayFinder.Core.Features.UserManagement.Models.FormModels.ChangePasswordFormModel
@inject IUsernameRetriever UsernameRetriever

<input type="hidden" asp-for="UserId" value="@UsernameRetriever.UserId"/>

<div class="form-floating mb-3">
    <input asp-for="OldPassword" type="password" class="form-control" autocomplete="off"/>
    <label asp-for="OldPassword"></label>
    <span asp-validation-for="OldPassword" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="NewPassword" type="password" class="form-control" autocomplete="off"/>
    <label asp-for="NewPassword"></label>
    <span asp-validation-for="NewPassword" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="NewPasswordConfirm" type="password" class="form-control" autocomplete="off"/>
    <label asp-for="NewPasswordConfirm"></label>
    <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
</div>
