@using FairwayFinder.Web.Components.Shared.Wrappers
@inherits LayoutComponentBase

<RadzenComponents />

<RadzenDialog />
<RadzenContextMenu />
<RadzenNotification />

<RadzenLayout>
    <AppHeader OnToggleSidebar="ToggleSidebar" />
    @*<AppSidebar @bind-Expanded="_sidebarExpanded" />*@

    <RadzenBody>
        @Body
    </RadzenBody>

    <AppFooter />
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool _sidebarExpanded = true;

    void ToggleSidebar()
    {
        _sidebarExpanded = !_sidebarExpanded;
    }
}
