@model FairwayFinder.Core.Features.Scorecards.Models.ScorecardRoundStats

<div class="card">
    <div class="card-header">
        Average Score To Par
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <div>Par 3:</div>
            <div>@Math.Round(Model.AverageScoreByParQueryModel.FirstOrDefault(x => x.par == 3)?.average_score ?? 0, 2,
                         MidpointRounding.AwayFromZero)
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <div>Par 4:</div>
            <div>@Math.Round(Model.AverageScoreByParQueryModel.FirstOrDefault(x => x.par == 4)?.average_score ?? 0, 2,
                         MidpointRounding.AwayFromZero)
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between">
            <div>Par 5:</div>
            <div>@Math.Round(Model.AverageScoreByParQueryModel.FirstOrDefault(x => x.par == 5)?.average_score ?? 0, 2,
                         MidpointRounding.AwayFromZero)
            </div>
        </li>
    </ul>
</div>