
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FairwayFinder.Core.Features.Admin.UserManagement.Models.ViewModels.ManageUserViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<div class="col-span-12">
    
    <section class="bg-base-200 shadow-sm card overflow-hidden col-span-12 pb-5">
        
        <div class="card-body grow-0">
            <div class="flex justify-between items-center">
                <div class="card-title">
                    <h3> Current Users </h3>
                </div>
                <div class="add-user">
                    <button class="btn btn-primary btn-sm" type="button" onclick="invite_modal.showModal()">
                        <i class="fa-solid fa-plus"></i> Add User
                    </button>
                </div>
            </div>
        </div>
        
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                <tr class="border-b border-base-100">
                    <th>Role</th>
                    <th>
                        <div class="flex justify-end">
                            Verified
                        </div>
                    </th>
                    <th>Email</th>
                    <th>UserName</th>
                    <th>Name</th>
                    <th>
                        <div class="flex justify-end">
                            Actions
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model.Users)
                {
                    @(await Html.PartialAsync("Shared/_UserTableRecord", user))
                }
                </tbody>
            </table>
        </div>
    </section>
    
    
    <section class="bg-base-200 shadow-sm card overflow-hidden mt-5 col-span-12">
        <div class="card-body grow-0">
            <div class="flex justify-between items-center">
                <div class="card-title">
                    <h3> Invited Users </h3>
                </div>
            </div>
        </div>
        
            
        
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <thead>
                <tr class="border-b border-base-100">
                    <th>Email</th>
                    <th>Invite Link</th>
                    <th>
                        <div class="flex justify-end">
                            Revoke Invite
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var invite in Model.Invites)
                {
                    @(await Html.PartialAsync("Shared/_UserInviteTableRecord", invite))
                }
                </tbody>
            </table>
        </div>
    </section>
</div>

<dialog id="invite_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        
        <h3 class="font-bold text-lg">Invite User</h3>
        <form method="post" asp-action="InviteUser" asp-controller="ManageUsers" enctype="multipart/form-data">

            <div class="col-span-12 pt-3">
                <input type="email" class="input input-bordered w-full" id="title" asp-for="InviteFormModel.Email" placeholder="Email"/>
                <span asp-validation-for="InviteFormModel.Email" class="text-danger"></span>
            </div>
            
            <div class="modal-action">
                <div class="flex justify-end">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add User</button>
                </div>
            </div>
        </form>
    </div>
</dialog>
