@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.CreateRoundFormModel
@{
    ViewData["Title"] = "Add New Round";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
        <div class="row d-flex justify-content-between">
            <div class="col-auto">
                <h1>Add New Round</h1>
            </div>

            <div class="col-auto">
                <a class="btn btn-link" asp-controller="Scorecard" asp-action="Index">
                    <i class="fa-solid fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        
        @await Html.PartialAsync("_Divider")

        <form
            hx-post=""
            hx-swap="innerHTML"
            hx-target="#round-form">
            
            <div id="round-form">
                @await Html.PartialAsync("Shared/_RoundForm", Model)
            </div>

            <div>
                <button id="login-submit" type="submit" class="btn btn-lg btn-primary w-100">Add Tee Box</button>
            </div>
        </form>
    </div>
</div>
