@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.TeeboxFormModel

@{
    ViewData["Title"] = "Edit Tee";
}


<div class="row d-flex justify-content-center">
    <div class="col-8">
        <form
            hx-post="@Url.Action("EditTeePost", new { courseId = Model.CourseId, teeboxId = Model.TeeboxId })"
            hx-swap="innerHTML"
            hx-target="#teebox-form">

            <input type="hidden" asp-for="CourseId" value="@Model.CourseId"/>
            <input type="hidden" asp-for="TeeboxId" value="@Model.TeeboxId"/>

            <div id="teebox-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                @await Html.PartialAsync("_TeeboxForm", Model)
            </div>

            <div>
                <button id="login-submit" type="submit" class="btn btn-lg btn-primary w-100">Update Tee Box</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            function calculateYardage() {
                // Get values from the inputs
                let yardageOut = parseFloat($("#yardage-out").val()) || 0;
                let yardageIn = parseFloat($("#yardage-in").val()) || 0;

                // Calculate sum
                let totalYardage = yardageOut + yardageIn;

                // Update the yardage field
                $("#yardage").val(totalYardage);
            }

            // Listen for input events on #yardage-out and #yardage-in
            $("#yardage-out, #yardage-in").on("input", calculateYardage);
        });
    </script>
}
