@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.CourseFormModel

@{
    ViewData["Title"] = "Edit Course";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <form
            hx-post="@Url.Action("EditCoursePost", new {courseId = Model.course_id})"
            hx-swap="innerHTML"
            hx-target="#course-form">
            
            <input type="hidden" asp-for="course_id" value="@Model.course_id"/>
            
            <div id="course-form">
                @await Html.PartialAsync("_CourseForm", Model)
            </div>

            <div>
                <button id="login-submit" type="submit" class="btn btn-lg btn-outline-primary w-100">Update Course</button>
            </div>
        </form>
    </div>
</div>