@model FairwayFinder.Core.Features.CourseManagement.Models.FormModels.CourseFormModel

@{
    ViewData["Title"] = $"Edit {Model.Name}";
}

<div class="col-span-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center xl:justify-start">
            <div class="w-full xl:w-8/12 xl:mx-auto pb-5">

                <div class="mb-3 flex justify-end">
                    <button class="btn btn-sm btn-error"
                            hx-delete="@Url.Action("DeleteCourse", new { courseId = Model.CourseId })"
                            hx-trigger="click"
                            hx-confirm="Are you sure you want to delete this course?">
                        
                        <i class="fa-solid fa-trash-can pe-2"></i> Delete
                    </button>
                </div>
                <form
                    hx-post="@Url.Action("UpdateCourse", new { courseId = Model.CourseId })"
                    hx-target="#course-form"
                    hx-swap="innerHTML">

                    @await Html.PartialAsync("_CourseForm", Model)

                    <div class="grid grid-cols-12 gap-4 mt-3">
                        <div class="col-span-12">
                            <button type="submit" class="col-span-12 sm:col-span-6 xl:col-span-4 btn btn-primary btn-block">Update Course</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>