@using FairwayFinder.Core.Models
@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.ScorecardFormModel

@await Html.PartialAsync("_MessageHtmxPartial")


<div id="course-information">
    <div class="mb-3">
        
        <input asp-for="RoundId" value="@Model.RoundId" type="hidden"/>
        @if (!Model.IsUpdate)
        {
            <input id="course-search" type="text" class="form-control" placeholder="Search For Course" autocomplete="off"
                   name="course"
                   hx-get="@Url.Action("SearchForCourseHtmx")"
                   hx-trigger="keyup changed delay:500ms"
                   hx-target="#course-search-results"
                   hx-swap="innerHTML"/>

            <div id="course-search-results">
                @await Html.PartialAsync("Shared/_CreateRoundCourseSearchResults", new List<Course>())
            </div>
        }
    </div>

    <div class="row" id="course-data">
        @await Html.PartialAsync("Shared/_CreateRoundCourseData", Model)
    </div>

    <div class="row" id="teebox-data">
        @await Html.PartialAsync("Shared/_CreateRoundTeeboxData", Model)
    </div>
</div>

@*
hx-trigger="updateCourseData from:body"
*@
