@model FairwayFinder.Core.Features.Profile.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = Model.ProfileDetails.UserName;
}


<h1>
    View Profile of @Model.ProfileDetails.UserName
</h1>