@using FairwayFinder.Web.Components.Layout.Wrappers
@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <AppHeader OnToggleSidebar="ToggleSidebar" />
    <AppSidebar @bind-Expanded="sidebarExpanded" />

    <RadzenBody>
        @Body
    </RadzenBody>

    <AppFooter />
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool sidebarExpanded = true;

    void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}
