@model FairwayFinder.Core.Features.CourseManagement.Models.ViewModels.GetAllCoursesViewModel

@{
    ViewData["Title"] = "Course Management";
}

<div class="col-span-12">
    
    <div class="card-body grow-0 bg-base-200">
        <div class="flex justify-between items-center">
            <div class="card-title">
                <h3> Golf Courses </h3>
            </div>
            <div class="add-user">
                <a class="btn btn-sm btn-primary" type="button" asp-action="AddCourse">
                    <i class="fa-solid fa-plus"></i> Add Golf Course
                </a>
            </div>
        </div>

        <div class="overflow-x-auto pt-4">
            <table class="table bg-base-200">
                <thead>
                <tr class="border-b-2 border-neutral">
                    <th>Course Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var course in Model.Courses)
                {
                <tr>
                    <td>@course.CourseId</td>
                    <td>
                        <a class="link" asp-action="ViewCourse" asp-route-courseId="@course.CourseId">
                            @course.CourseName
                        </a>
                    </td>
                    <td><button class="btn btn-xs btn-error">Remove</button></td>
                </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>