@inject NavigationManager NavigationManager

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0" class="rz-p-2">
        <a href="/" style="text-decoration: none; color: inherit;">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenIcon Icon="sports_golf" Style="font-size: 1.5rem;" />
                <RadzenText TextStyle="TextStyle.H6" class="rz-m-0">FairwayFinder</RadzenText>
            </RadzenStack>
        </a>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
            <AuthorizeView>
                <Authorized>
                    <RadzenButton Text="Add Round" Icon="add" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"
                                  Click="@(() => NavigationManager.NavigateTo("/round/new"))" />
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <RadzenButton Text="Courses" Icon="golf_course" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small"
                                  Variant="Variant.Outlined"
                                  Click="@(() => NavigationManager.NavigateTo("/courses"))" />
                </Authorized>
            </AuthorizeView>
            <RadzenAppearanceToggle />
            <AuthorizeView>
                <Authorized>
                    <RadzenProfileMenu>
                        <Template>
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.25rem">
                                <RadzenText TextStyle="TextStyle.Body2" class="rz-m-0">@context.User.Identity?.Name</RadzenText>
                                <RadzenIcon Icon="arrow_drop_down" />
                            </RadzenStack>
                        </Template>
                        <ChildContent>
                            <AuthorizeView Roles="Admin" Context="adminContext">
                                <Authorized>
                                    <RadzenProfileMenuItem Text="Admin" Icon="admin_panel_settings" Path="/admin" />
                                </Authorized>
                            </AuthorizeView>
                            <RadzenProfileMenuItem Text="Settings" Icon="settings" Path="/settings" />
                            <RadzenProfileMenuItem Text="Sign Out" Icon="logout" Path="/authentication/logout" />
                        </ChildContent>
                    </RadzenProfileMenu>
                </Authorized>
            </AuthorizeView>
        </RadzenStack>
    </RadzenStack>
</RadzenHeader>

@code {
    [Parameter] public EventCallback OnToggleSidebar { get; set; }
}
