@using FairwayFinder.Core.Helpers

<table class="table table-responsive">
    <thead>
    <th>Course Name</th>
    <th>Teebox</th>
    <th>Score</th>
    <th>Slope/Rating</th>
    <th>Date</th>
    </thead>
    
    <tbody>
    <td>blah balh</td>
    <td>blah </td>
    <td>72</td>
    <td>75/142</td>
    <td>@DateTime.UtcNow.FormatDate()</td>
    </tbody>
</table>

