@model FairwayFinder.Core.Features.Profile.Models.FormModels.ChangePasswordFormModel

<div class="grid grid-cols-12 gap-4 mt-3">
    <div class="col-span-12">
        <div role="tablist" class="tabs tabs-boxed">
            <a role="tab" class="tab"
                hx-get="/profile/edit"
                hx-swap="innerHTML"
                hx-target="#profile-form">Profile</a>
            
            <a role="tab" class="tab tab-active">Password</a>
        </div>
    </div>
</div>

<form class="space-y-6 pt-5" hx-post="/profile/change-password" hx-target="#profile-form" hx-swap="innerHTML">
    
    <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>
    
    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="col-span-12">
            @await Html.PartialAsync("_MessageHtmxPartial")
        </div>
    </div>
    
    <div class="grid grid-cols-12 gap-4 mt-3">
        <div class="col-span-12">
            <label asp-for="OldPassword" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="OldPassword" type="password" class="grow" placeholder="Old Password"/>
            </label>
            <span asp-validation-for="OldPassword" class="text-error"></span>
        </div>

        <div class="col-span-12">
            <label asp-for="NewPassword" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="NewPassword" type="password" class="grow" placeholder="New Password"/>
            </label>
            <span asp-validation-for="NewPassword" class="text-error"></span>
        </div>

        <div class="col-span-12">
            <label asp-for="NewPasswordConfirm" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="NewPasswordConfirm" type="password" class="grow" placeholder="Confirm Password"/>
            </label>
            <span asp-validation-for="NewPasswordConfirm" class="text-error"></span>
        </div>

        <div class="col-span-12">
            <button id="register-submit" type="submit" class="w-full btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
