@using FairwayFinder.Core.Features.Admin.HealthCheck.Models.ViewModels
@model FairwayFinder.Core.Features.Profile.Models.FormModels.ProfileFormModel


<form class="space-y-6" hx-post="/profile" hx-target="#profile-form" hx-swap="innerHTML" enctype="multipart/form-data" autocomplete="off">
    
    <div class="grid grid-cols-12 gap-2 lg:gap-4">
        <input type="hidden" asp-for="Email"/>
        <div class="sm:col-span-6 col-span-12">
            <label asp-for="FirstName" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="FirstName" type="text" class="grow" placeholder="First Name"/>
            </label>
            <span asp-validation-for="FirstName" class="text-error"></span>
        </div>
                
        <div class="sm:col-span-6 col-span-12">
            <label asp-for="LastName" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="LastName" type="text" class="grow" placeholder="Last Name"/>
            </label>
            <span asp-validation-for="LastName" class="text-error"></span>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-2 lg:gap-4">
        <input type="hidden" asp-for="Email"/>
        <div class="sm:col-span-6 col-span-12">
            <label asp-for="Email" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="Email" type="text" class="grow" placeholder="Email"/>
            </label>
            <span asp-validation-for="Email" class="text-error"></span>
        </div>
                    
        <div class="sm:col-span-6 col-span-12">
            <label asp-for="UserName" class="input input-bordered flex items-center gap-2 w-full">
                <input asp-for="UserName" type="text" class="grow" placeholder="Username"/>
            </label>
            <span asp-validation-for="UserName" class="text-error"></span>
        </div>
    </div>
    
    <div>
        <button id="register-submit" type="submit" class="w-full btn btn-primary">Update Profile</button>
    </div>
</form>
    
    
    