

<div class="grid grid-cols-12 gap-4 mt-3">
    <div class="col-span-12">
        <div role="tablist" class="tabs tabs-boxed">
            <a role="tab" class="tab"
                hx-get="/profile/edit"
                hx-swap="innerHTML"
                hx-target="#profile-form">Profile</a>
            
            <a role="tab" class="tab tab-active">Password</a>
        </div>
    </div>
</div>


<div class="grid grid-cols-12 gap-4 mt-3">
    <div class="col-span-12">
        <input type="text" placeholder="You can't touch this" class="input input-bordered w-full max-w-xs" disabled />
    </div>
</div>