@model FairwayFinder.Core.Features.Profile.Models.FormModels.ProfileFormModel

@if (Model.IsValidHandle)
{
    <label asp-for="UserName" class="input input-bordered flex items-center input-success gap-2 w-full">
        <input asp-for="UserName" type="text" class="grow" placeholder="Username"
               hx-get="profile/check-username"
               hx-swap="innerHTML"
               hx-target="#username-input"
               hx-trigger="input delay:500ms" />
    </label>
    <span asp-validation-for="UserName" class="text-success">@Model.UsernameValidationMessage</span>
}
else
{
    <label asp-for="UserName" class="input input-bordered flex items-center input-error gap-2 w-full">
        <input asp-for="UserName" type="text" class="grow" placeholder="Username"
               hx-get="profile/check-username"
               hx-swap="innerHTML"
               hx-target="#username-input"
               hx-trigger="input delay:500ms" />
    </label>
    <span asp-validation-for="UserName" class="text-error">@Model.UsernameValidationMessage</span>
}