<div class="offcanvas-body d-md-flex flex-column p-0 pt-md-3 overflow-y-auto">
    <ul class="nav nav-pills flex-column mb-auto px-2">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fa-solid fa-house pe-2"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-house pe-2"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-house pe-2"></i>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-house pe-2"></i>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-house pe-2"></i>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    
    
    <partial name="_LoginPartial" />

</div>


