@using FairwayFinder.Core.Services
@model FairwayFinder.Core.Features.Scorecards.Models.FormModels.ScorecardFormModel
@inject IUsernameRetriever _UsernameRetriever
@{
    ViewData["Title"] = "Edit Round";
}

<div class="row d-flex justify-content-center">
    <div class="col-xxl-9 col-xl-12">
        <div class="row d-flex justify-content-between">
            <div class="col-auto">
                <h1>Edit Round</h1>
            </div>

            <div class="col-auto">
                <a class="btn btn-link" asp-controller="Scorecard" asp-action="Index" asp-route-username="@_UsernameRetriever.Username">
                    <i class="fa-solid fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
        
        @await Html.PartialAsync("_Divider")

        <form
            hx-post="@Url.Action("EditRoundPost", new { roundId = Model.RoundFormModel.RoundId })"
            hx-swap="innerHTML"
            hx-target="#round-form">
            
            <div id="round-form">
                @await Html.PartialAsync("Shared/_RoundForm", Model)
            </div>

            <div>
                <button id="login-submit" type="submit" class="btn btn-lg btn-primary w-100">Update Round</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.detail.elt.getAttribute('id') === 'round-form') {
            Alpine.initTree(evt.detail.elt);

            // Find the teebox-data element
            const teeboxElement = evt.detail.elt.querySelector('#teebox-data');

            // Access the Alpine data and log the showAdvancedStats value
            if (teeboxElement) {
                const showAdvancedStats = Alpine.$data(teeboxElement).showAdvancedStats;
                console.log('showAdvancedStats value:', showAdvancedStats);
            } else {
                console.log('teebox-data element not found');
            }

            console.log('this should have ran');
        }
    });
</script>