<!-- Navbar -->
<nav class="navbar fixed-top border-bottom" hx-preserve="true">
    <div class="container-fluid">
        <button class="navbar-toggler me-2 sidebar-toggle" type="button" id="sidebar-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
    </div>
</nav>