
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FairwayFinder.Web</title>
    <link rel="icon" type="image/svg" href="/golf-ball-tee-solid.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FairwayFinder.Web.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
<div>
    <div class="container">
        @await Html.PartialAsync("_MessagePartial")
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8 col-md-8 col-sm-10 col-10">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script src="~/lib/bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/htmx/htmx.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
