@model FairwayFinder.Core.Features.Profile.Models.ViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}

<div class="col-span-12">
    
    <div id="profile-form">
        @await Html.PartialAsync("_EditProfileForm", Model.Form)
    </div>
    
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


