
<header class="col-span-12 flex items-center gap-2 lg:gap-4">
	<label for="my-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden">
		<i class="fa-solid fa-bars h-5 w-5"></i>
	</label>
	<div class="grow">
		<h1 class="lg:text-2xl lg:font-light">@ViewData["Title"]</h1>
	</div>
	<!-- dropdown -->
	<div class="dropdown dropdown-end z-10">
		<div tabindex="0" class="btn btn-circle btn-ghost">
			<div class="indicator">
				<i class="fa-solid fa-bell fa-xl"></i>
			</div>
		</div>
	</div>
	<!-- dropdown -->
	<div class="dropdown-end dropdown z-10">
		<div tabindex="0" class="avatar placeholder btn btn-circle btn-ghost">
          <div class="bg-neutral text-neutral-content rounded-full w-24">
            <span class="text-3xl">G</span>
          </div>
		</div> 
		<ul tabindex="0" class="menu dropdown-content mt-3 w-52 rounded-box bg-base-200 p-2 shadow-2xl">
			<li>
				<a class="dropdown-item" asp-area="Profile" asp-controller="MyProfile" asp-action="EditProfile"> <i class="fa-solid fa-user pe-2"></i> Profile</a>
			</li>
			<li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket pe-2"></i> Logout</a></li>
		</ul>
	</div>
	<!-- /dropdown -->
</header>

