@using FairwayFinder.Core.Settings
<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ApplicationSettings.APPLICATION_NAME</title>
    <link rel="icon" type="image/svg" href="/golf-ball-tee-solid.svg">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>

<!-- drawer -->
<body class="drawer min-h-screen bg-base-200 lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <main class="drawer-content bg-base-100">
      <div class="grid grid-cols-12 grid-rows-[min-content] gap-y-12 p-4 lg:gap-x-12 lg:p-10">
          <partial name="_Header"/>
          @RenderBody() 
      </div>
  </main>
  
  <partial name="_SidebarMenu"/>
  
  

@*
<main role="main" class="pb-3">
        @RenderBody()
      </main>
      *@


@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FairwayFinder.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<script src="~/lib/htmx/htmx.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
