@using Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FairwayFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FairwayFinder.Web.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/datatable/datatables.min.css" asp-append-version="true">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
</head>
<body hx-boost="true" x-data>

@await Html.PartialAsync("Layout/_Navbar")

<!-- Sidebar Backdrop (Mobile) -->
<div class="sidebar-backdrop" id="sidebar-backdrop"></div>

@await Html.PartialAsync("Layout/_Sidebar")

<main id="main-content" class="p-4 mt-5">
    @await Html.PartialAsync("_MessagePartial")
    @RenderBody()
</main>



@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - FairwayFinder.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>*@
<script src="~/js/htmx.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/chart.js/chart.umd.js" asp-append-version="true"></script>
<script src="~/lib/chart.js/plugins/chartjs-plugin-datalabels.min.js" asp-append-version="true"></script>
<script src="~/lib/datatable/datatables.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js" defer="defer"></script>

@await RenderSectionAsync("Scripts", required: false)


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const sidebarToggle = document.getElementById('sidebar-toggle');
        const sidebarBackdrop = document.getElementById('sidebar-backdrop');

        // Toggle sidebar on button click (small screens only)
        sidebarToggle.addEventListener('click', function() {
            document.body.classList.toggle('sidebar-expanded');
        });

        // Close sidebar when clicking on backdrop (mobile)
        sidebarBackdrop.addEventListener('click', function() {
            document.body.classList.remove('sidebar-expanded');
        });
    });
</script>

</body>
</html>

@*


*@