
@{
    var successHtmx = (string?)TempData["success_message_htmx"];
    var errorHtmx = (string?)TempData["error_message_htmx"];
}

@* HTMX specific so returning a partial can show a message also. *@
@if (!string.IsNullOrWhiteSpace(successHtmx)) {
	<div id='success-message-htmx' class="alert alert-success" role="alert">
		<span>
			<i class="fa-regular fa-circle-check me-2"></i>
            @successHtmx
		</span>
	</div>
    <script type='text/javascript'>
    		$(function() {
    			$("#success-message-htmx").fadeTo(4000, 500).slideUp(500, function(){
    				$(this).alert('close');
    			});
    		});
    	</script>
}
    
    
@if (!string.IsNullOrWhiteSpace(errorHtmx)) {
	<div id='error-message-htmx' class="alert alert-danger" role="alert">
		<span>
			<i class="fa-solid fa-circle-exclamation me-2"></i>
            @errorHtmx
		</span>
	</div>
    <script type='text/javascript'>
    		$(function() {
    			$("#error-message-htmx").fadeTo(4000, 500).slideUp(500, function(){
    				$(this).alert('close');
    			});
    		});
    	</script>
}