@using FairwayFinder.Core.Models
@using FairwayFinder.Core.Settings
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<aside class="drawer-side z-10">
	<label for="my-drawer" class="drawer-overlay"></label>
	<!-- sidebar menu -->
	<nav class="flex min-h-screen w-72 flex-col gap-2 overflow-y-auto bg-base-200 px-6 py-10">
		<div class="mx-4 flex items-center gap-2 font-black">
			<i class="fa-solid fa-golf-ball-tee"></i>
			FairwayFinder
		</div>
		<ul class="menu">
			<li class="py-2">
				<a asp-controller="Home" asp-action="Index">
					<i class="fa-solid fa-table-columns"></i>
					Dashboard
				</a>
			</li>

			<li>
				<a asp-area="Courses" asp-controller="Course" asp-action="ViewAllCourses"><i class="fa-solid fa-list"></i> View Courses </a>
			</li>
			
			<li></li>
			
			@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.Admin))
			{
				<li>
					<details>
						<summary>
							<i class="fa-solid fa-list-check"></i>
							Course Management
						</summary>
						<ul>
							<li>
								<a asp-area="Courses" asp-controller="Course" asp-action="ViewAllCourses"><i class="fa-solid fa-list"></i> View Courses </a>
							</li>
							<li>
								<a asp-area="CourseManagement" asp-controller="CourseManagement" asp-action="AddCourse"><i class="fa-solid fa-plus"></i> Add Course</a>
							</li>
						</ul>
					</details>
				</li>
				
				<li>
					<details>
						<summary>
							<i class="fa-solid fa-id-badge"></i>
							Admin
						</summary>
						<ul>
							<li>
								<a class="dropdown-item" asp-area="Admin" asp-controller="ManageUsers" asp-action="ManageUsers" ><i class="fa-solid fa-users pe-2"></i> Manage Users</a>
							</li>
							<li>
								<a class="dropdown-item" asp-area="Admin" asp-controller="HealthCheck" asp-action="HealthCheck" ><i class="fa-solid fa-heart pe-2"></i> System Health</a>
							</li>
						</ul>
					</details>
				</li>
			}
			
		</ul>
	</nav>
	<!-- /sidebar menu -->
</aside>

