@model FairwayFinder.Core.Features.GolfCourse.Models.ViewModels.CourseManagementViewModel

@{
    ViewData["Title"] = "Golf Courses";
}

<div class="row d-flex justify-content-end">
    <div class="col-auto">
        <a class="btn btn-primary" asp-action="AddCourse">
            <i class="fa-solid fa-plus pe-2"></i> Add Course
        </a>
    </div>
</div>


<div class="row mt-3">
    <div class="col-6">
        @await Html.PartialAsync("_GolfCourseCard", Model.Courses)
    </div>

    <div class="col-6">
        @await Html.PartialAsync("_CourseTeeboxCard", Model.Teeboxes)
    </div>
</div>